build*/
node_modules/
managed_components/
sdkconfig
sdkconfig.old
dist/
factory-results/
internal/
*.pyc
__pycache__/
.DS_Store
tools/usb_flasher/AirLink-*-Flasher-*/
tools/usb_flasher/*.zip
tools/usb_flasher/AirLink-Flasher-*.html
tools/usb_flasher/www/
