build*/
node_modules/
managed_components/
sdkconfig
sdkconfig.old
dist/
factory-results/
internal/
*.pyc
__pycache__/
.DS_Store
tools/windows_flasher/AirLink-Windows-Flasher-*/
tools/windows_flasher/*.zip
tools/windows_flasher/www/
